all_runs/*/agentData.csv
all_runs/*/*/agentData.csv
all_runs/*/modelData.csv
all_runs/*/*/modelData.csv
latest_run/agentData.csv
latest_run/modelData.csv
update_values_inflation/build
update_values_inflation/dist
update_values_inflation/update_values_inflation.egg-info